<!DOCTYPE html>
<html>
  <head>
    <title>iFluent: Learn a language online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://kit.fontawesome.com/82b08914d2.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.splashVideo = "<%= image_url('homepagevideo_short_version2.98c5bfce.mp4') %>";
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %> 
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
